[Unit]
Description=Gunicorn server
Wants=network.target
Before=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'cd /home/xirc/sites/{SERVICE_NAME}/source; /home/xirc/sites/{SERVICE_NAME}/virtualenv/bin/gunicorn --bind unix:/home/xirc/sites/{SERVICE_NAME}.socket superlists.wsgi:application'
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
